body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*:focus {
  outline: none;
}
button {
  cursor: pointer;

}
/* HEADER */
.header {
  background-color: #c4ffe8;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 1px 1px 5px #4f4f4f;
}
nav {
  margin-right: 15%;
}
.header a {
  padding: 6%;
  text-decoration: none;
  color: white;
  background-color: black;
  margin: 0 3%;
  box-shadow: 1px 1px 5px #4f4f4f;

}
/* VIEW */
.view {
  margin: 5%;
}
.make-listing {
  background-color: crimson;
  color: snow;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 2% 4%;
  cursor: pointer;
  border-radius: 10px;
}
.item {
  display: flex;
  margin: 3%;
  box-shadow: 1px 1px 5px #4f4f4f;
}
.item img {
  width: 250px;
}
.item .right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 5%;
}
.listing {
  box-shadow: 1px 1px 5px #4f4f4f;
  margin: 3%;
  height: 200px;
  display: flex;
  justify-content: center;
}
.listing form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}
.listing input {
  font-size: 1.5rem;
  margin: 1%;
}
.listing button {
  /* width: 25%; */
}
.edit-delete button {
  background-color: black;
  color: white;
  margin: 1%;
  text-orientation: upright;

}
.delete:hover {
  background-color: crimson;
}
.edit-delete {
  margin: 1%;
  display: flex;
}
/* LOGIN */
.login {
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16%;
  padding: 6%;
  box-shadow: 0 0 10px rgb(163, 163, 163);
  background-color: powderblue;
}
.login input {
  text-align: center;
  font-size: 1.6rem;
  width: 80%;
  height: 2rem;
  background-color: #eeeded;
  border: none;
  margin: 2%;
}
::placeholder {
  color: #c5c5c5;
}
.login button {
  margin-top: 8%;
  padding: 3% 6%;
  background-color: rgb(48, 48, 48);
  color: snow;
  font-size: 1.2rem;
  border: none;
  box-shadow: 0 0 10px rgb(163, 163, 163);
}
.login button:hover {
  background-color: #4f4f4f;
}
.loading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 16%;
}
.loading {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #2b3135;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
