body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*:focus {
  outline: none;
}
button {
  cursor: pointer;
  border: none;
  box-shadow: 1px 1px 1px #4f4f4f;
}
input:focus {
  background-color: #eeeded;
  border: none;
}
/* HEADER */
.header {
  background-color: rgb(39, 39, 39);
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 1px 1px 5px #4f4f4f;
}
nav {
  margin-right: 15%;

}
ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
ul li a {
  text-decoration: none;
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
}
.header li {
  padding: 6%;
  margin: 0 3%;
  box-shadow: 1px 1px 5px #4f4f4f;
}
.green {
  background-color: rgb(75, 141, 75);
}
.green:hover {
  background-color: rgb(55, 102, 55);
}
.yellow {
  background-color: rgb(187, 187, 94);
}
.yellow:hover {
  background-color: rgb(109, 109, 56);
}
.red {
  background-color: rgb(199, 91, 91);
}
.red:hover {
  background-color: rgb(124, 57, 57);
}
/* VIEW */
.view {
  margin: 5%;
}
.make-listing {
  background-color: rgb(199, 91, 91);
  color: snow;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 2% 4%;
  cursor: pointer;
}
.make-listing:hover {
  background-color: rgb(124, 57, 57);
}
.item {
  display: flex;
  margin: 3%;
  box-shadow: 1px 1px 5px #4f4f4f;
}
.item:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}
.item img {
  width: 250px;
  height: 100%;
}
.item .right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 5%;
  text-align: left;
}
.listing {
  box-shadow: 1px 1px 5px #4f4f4f;
  margin: 3%;
  height: 200px;
  display: flex;
  justify-content: center;
}
.listing form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.listing input {
  font-size: 1.5rem;
  margin: 1%;
  border: none;
  border-bottom: 1px #eeeded solid;
}
.listing button {
  background-color: rgb(48, 48, 48);
  color: snow;
  font-weight: bold;
  border-radius: 10px;
  width: 50%;
  margin-top: 2%;
  font-size: 1.2rem;
  padding: 2% 0;
}
.listing button:hover {
  background-color: rgb(124, 57, 57);
}
.edit-delete {
  height: 5%;
  margin-top: 3%;
  margin-left: 10%;
  display: flex;
}
.edit-delete button {
  margin: 0 10px;
  height: 20px;
  width: 50px;
  background-color: rgb(48, 48, 48);
  color: snow;
}
.edit-delete button:hover {
  background-color: #4f4f4f;
  cursor: default;
};
/* LOGIN */
.login {
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16%;
  padding: 6%;
  box-shadow: 0 0 10px rgb(163, 163, 163);
  background-color: rgb(187, 187, 94);
}
.signup form {
  background-color: rgb(75, 141, 75);
}
.login input {
  font-size: 1.6rem;
  width: 80%;
  height: 2rem;
  border: none;
  margin: 2%;
}
::placeholder {
  color: #c5c5c5;
}
.login button {
  margin-top: 8%;
  padding: 3% 6%;
  background-color: rgb(48, 48, 48);
  color: snow;
  font-size: 1.2rem;
  border: none;
  box-shadow: 0 0 10px rgb(163, 163, 163);
}
.login button:hover {
  background-color: rgb(109, 109, 56);
}
.signup button:hover {
  background-color: rgb(55, 102, 55);
}
.loading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 16%;
}
.loading {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #2b3135;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
